In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tushare as ts

# 获取数据
s_pf = '600000' # 浦发
s_gd = '601818' # 光大
sdate = '2016-01-01'
edate = '2018-12-14'
df_pf = ts.get_h_data(s_pf,autype='hfq', start = sdate, end = edate).sort_index(axis = 0, ascending = True)
df_gd = ts.get_h_data(s_gd,autype='hfq',start = sdate, end = edate).sort_index(axis = 0, ascending = True)
# df_pf
print('')
print(df_pf.tail())
print(df_gd.tail())

# # 合并到新的df
# df = pd.concat([df_pf.close, df_gd.close], axis = 1, keys = ['pf_close', 'gd_close'])
# df.ffill(axis = 0, inplace = True) # 填充停牌期间数据
# df.to_csv('pf_gd.csv')
# '''
# df = pd.read_csv('pf_gd.csv')
# '''
# # 计算相关性
# print(df.corr(method = 'pearson', min_periods = 1))

# # 打印价格曲线
# df.plot(figsize = (20, 12))
# plt.savefig("pf_gd.jpg")
# plt.close()

# # 归一化后打印价格曲线
# df['pf_one'] = df.pf_close / float(df.pf_close[0]) * 100
# df['gd_one'] = df.gd_close / float(df.gd_close[0]) * 100
# df.pf_one.plot(figsize = (20, 12))
# df.gd_one.plot(figsize = (20, 12))
# plt.savefig("pf_gd_one.jpg")
# plt.close()

[Getting data:]###########[Getting data:]###########
              open    high   close     low      volume       amount
date
2018-12-10  134.55  136.17  135.30  134.55  15927563.0  172346141.0
2018-12-11  135.42  136.17  133.92  133.55  17234222.0  185675067.0
2018-12-12  136.04  136.04  134.05  133.67  12448791.0  134006589.0
2018-12-13  134.42  135.67  134.92  134.05  19792340.0  213866046.0
2018-12-14  134.17  134.92  132.67  132.30  24163831.0  257441060.0
            open  high  close   low      volume       amount
date
2018-12-10  5.25  5.27   5.23  5.22  33902143.0  129289992.0
2018-12-11  5.23  5.26   5.23  5.22  23596596.0   90062461.0
2018-12-12  5.26  5.26   5.25  5.23  23918408.0   91411769.0
2018-12-13  5.26  5.36   5.29  5.23  52152951.0  201428063.0
2018-12-14  5.29  5.30   5.23  5.21  51955844.0  198219226.0

In [6]:
# # 合并到新的df
df = pd.concat([df_pf.close, df_gd.close], axis = 1, keys = ['pf_close', 'gd_close'])
df.ffill(axis = 0, inplace = True) # 填充停牌期间数据
df.to_csv('pf_gd.csv')
'''
df = pd.read_csv('pf_gd.csv')
'''
# 计算相关性
print(df.corr(method = 'pearson', min_periods = 1))

# 打印价格曲线
df.plot(figsize = (20, 12))
plt.savefig("pf_gd.jpg")
plt.close()

# 归一化后打印价格曲线
df['pf_one'] = df.pf_close / float(df.pf_close[0]) * 100
df['gd_one'] = df.gd_close / float(df.gd_close[0]) * 100
df.pf_one.plot(figsize = (20, 12))
df.gd_one.plot(figsize = (20, 12))
plt.savefig("pf_gd_one.jpg")
plt.close()

          pf_close  gd_close
pf_close  1.000000  0.320847
gd_close  0.320847  1.000000

In [9]:
df = pd.read_csv('pf_gd.csv')
df1 = df[:5]
df2 = df1.drop(2)
print(df2)

         date  pf_close  gd_close
0  2016-01-04    146.68      4.93
1  2016-01-05    148.00      4.96
3  2016-01-07    144.29      4.81
4  2016-01-08    144.12      4.90

In [11]:
df2.ix[:]

         date  pf_close  gd_close
0  2016-01-04    146.68      4.93
1  2016-01-05    148.00      4.96
3  2016-01-07    144.29      4.81
4  2016-01-08    144.12      4.90

In [21]:
#revise index
df2.loc[3,'pf_close']
df2.iloc[2,2]
df2.ix[1:4,1]
#df2.ix[1:4,'gd_close']

1    148.00
3    144.29
4    144.12
Name: pf_close, dtype: float64

In [52]:
df2['pf_close']
df2['pf_close'][1]
df2.index
df2.columns

# df3 = pd.DataFrame(df2,index=["a","b","c","d"])
df3 = df[5:10]
con = [df3,df2]
df4 = pd.concat(con)
df5 = df4.reindex([0,1,3,4,5,6,7,8,9])
df6 = pd.concat(con,axis=1)
df7 = pd.concat(con, axis=1, join='inner')
print(df6)
# print(df7)

         date  pf_close  gd_close        date  pf_close  gd_close
0         NaN       NaN       NaN  2016-01-04    146.68      4.93
1         NaN       NaN       NaN  2016-01-05    148.00      4.96
3         NaN       NaN       NaN  2016-01-07    144.29      4.81
4         NaN       NaN       NaN  2016-01-08    144.12      4.90
5  2016-01-11    140.50      4.69         NaN       NaN       NaN
6  2016-01-12    143.79      4.71         NaN       NaN       NaN
7  2016-01-13    143.30      4.65         NaN       NaN       NaN
8  2016-01-14    147.67      4.65         NaN       NaN       NaN
9  2016-01-15    144.87      4.50         NaN       NaN       NaN

In [66]:
# import datetime as dt
# fecha_1 = dt.datetime(2013, 4, 14)
# print(fecha_1)
df6.ix[8:9,0:2] = 10
print(df6)

         date  pf_close  gd_close        date  pf_close  gd_close
0         NaN       NaN       NaN  2016-01-04    146.68      4.93
1         NaN       NaN       NaN  2016-01-05    148.00      4.96
3         NaN       NaN       NaN  2016-01-07    144.29      4.81
4         NaN       NaN       NaN  2016-01-08    144.12      4.90
5  2016-01-11    140.50      4.69         NaN       NaN       NaN
6  2016-01-12    143.79      4.71         NaN       NaN       NaN
7  2016-01-13    143.30      4.65         NaN       NaN       NaN
8          10     10.00      4.65          10     10.00       NaN
9          10     10.00      4.50          10     10.00       NaN

In [68]:
df8 = df3.append(df2)
df8

         date  pf_close  gd_close
5  2016-01-11    140.50      4.69
6  2016-01-12    143.79      4.71
7  2016-01-13    143.30      4.65
8  2016-01-14    147.67      4.65
9  2016-01-15    144.87      4.50
0  2016-01-04    146.68      4.93
1  2016-01-05    148.00      4.96
3  2016-01-07    144.29      4.81
4  2016-01-08    144.12      4.90

In [75]:
k=df3
k['ax'] = 10
n = k.drop(['date','pf_close','gd_close'],axis = 1)
print(n)
# df9 = df3.join(n)
# df9

   ax
5  10
6  10
7  10
8  10
9  10

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy